<div class="row center">
  <h1>Daily Dog</h1>
</div>
<div class="row center" id="current_photo">
  <ul>
    <%= render "homepage/get_photo" %>
  </ul>
</div>

<div class="row center">
  <%= form_tag({ controller: :homepage, action: :get_photo }, remote: true) %>
    <%= label_tag(:breed, "Breed") %>
    <%= select_tag(:breed, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %> <br>
  <%= submit_tag "Get a Dog Photo", :class => "waves-effect waves-light btn" %>
</div>

<div class="input-field col s12">
  <select>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
  <label>Materialize Select</label>
</div>
